div#overlay-gallery-bg {
  background: #000000;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}

.gallery-thumb-def {
  background-color: #ffffff;
  display:inline-block;
  line-height: 0px;
}

.gallery-thumb-def img {
  border: 1px solid #000000;
  margin: 8px;
  vertical-align: middle;
}

div.gallery-thumb-container {
  float: left;
  width: 130px;
  height: 130px;
  text-align: center;
  display: none;
}

div#overlay-thumbs-container {
  clear: both;
  margin: 10px 0 0 30px;
}

div#overlay-gallery-container {
  position: absolute;
  left: 0px;
  opacity: 1;
  z-index: 102;
  top: 0;
  color: #ffffff;
  text-align: left;
  width: 100%;
}

div#overlay-gallery-container h1 {
  color: #ffffff;
  font-weight: bold;
  float: left;
}

div#overlay-gallery-container p {
  margin-left: 30px;
}

div#overlay-gallery-close {
  background-image:url(../images/close.gif);
  cursor:pointer;
  height:35px;
  position:fixed;
  right:30px;
  top:33px;
  width:35px;
}

div#overlay-gallery-header {
  margin: 30px 30px 45px 30px;
  height: 30px;
  
}

div#overlay-gallery-play a {
  font-size:18px;
  position: absolute;
  right: 60px;
  text-align:right;
  background-image: url("../images/play.gif");
  background-position: right top;
  background-repeat: no-repeat;
  height: 48px;
  padding: 10px 48px 0px 0;
  margin-top: -5px;
  color: #ffffff;
}

div#overlay-image-container {
  width: 100%;
  height: 500px;
  text-align: center;
  display: none;
}

div.gallery-loading {
  background-image: url('../images/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

span#overlay-image-def img {
  border: 1px solid #000000;
  margin: 10px 10px 5px 10px;
  vertical-align: middle;
  display: block;
}

span#overlay-image-def {
  color: #000000;
  background-color: #ffffff;
  display:inline-block;
  position: relative;
}

span#overlay-image-def p {
  text-align: left;
  margin: 0px 3% 3% 3%;
}

div.overlay-gallery-panel {
  position: fixed;
  left: 50%;
  top: 0px;
  width: 144px;
  height: 48px;
  margin-left: -72px;
  clear: both;
  margin-top: 25px;
  z-index:10;
}

div#overlay-image-panel div {
  cursor: pointer;
  height: 48px;
  width: 48px;
  float: left;
  z-index: 10;
}

div#oi_prev {
  background-image: url('../images/prev.gif');
}
div#oi_stop {
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 80px;
  width: 70px;
  height: 48px;
  background-image: url('../images/stop.png');
  background-repeat: no-repeat;
}
div#oi_play {
  background-image: url('../images/play.gif');
}
div#oi_pause {
  background-image: url('../images/pause.gif');
  display: none;
}
div#oi_next {
  background-image: url('../images/next.gif');
}

/* COMMENTS */

div#overlay-image-comments.gallery-loading {
  width: 40% !important;
}

div#overlay-image-comments.gallery-loading #comments {
  display: none;
}

div#overlay-image-comments {
  background-color:#FFFFFF;
  height:80%;
  opacity:0.72;
  position:absolute;
  right:11px;
  top:10%;
  width:20px;
}

div#overlay-image-comments #comments {
  display: none;
  margin: 0px;
  text-align: left;
  padding: 0px;
  overflow-y: scroll;
  height: 100%;
}

div#overlay-image-comments #comments h2 {
  font-size:100%;
  line-height:100%;
  font-weight: bold;
  margin: 0;
  padding: 0.5em 5px;
}

div#overlay-image-comments #comments .clear-block {
  position: relative;
  margin-top: 0px;
}

div#overlay-image-comments #comments .comment,
div#overlay-image-comments #comments .box {
  padding: 0px 5px;
  margin: 0px;
}

div#overlay-image-comments #comments .submitted {
  bottom:0;
  left:0;
  padding:0;
  position:absolute;
  white-space:nowrap;
  width:100%;
  overflow: hidden;
}

div#overlay-image-comments #comments .content {
  margin: 0 0 1.5em 0;
}
  
div#overlay-image-comments #comments .content p {
  margin: 0px;
}

div#overlay-image-comments #comments .box {
  font-size: 100%;
  margin-bottom: 5px;
}

div#overlay-image-comments #comments .box .form-item {
  margin: 0;
  padding: 0;
}

div#overlay-image-comments #comments .box .form-item label {
  display: inline;
}

div#overlay-image-comments #comments .box .form-item input {
  width: 70%;
}

div#overlay-image-comments #comments .box .form-item textarea {
  width: 90%;
  height: 3em;
}
div#overlay-image-comments #comments .box h2 {
  margin: 0;
  padding: 0;
}

div#overlay-image-comments #comments .box .form-submit {
  margin: 0;
}
